= simple_form_for([@menu, @section]) do |f|
  %ul
    = f.input :name
    %fieldset
      = f.input :heading
      = f.input :description
      -# admin_show_section_img(@section)
      = f.input :image
    = f.input :menu_id, :as => :hidden
    -# hidden_field_tag 'origin_section', @origin_section
    = f.submit :class =>'submit'
