- @title = "#{@menu.name}, #{@section.name} | Marcopolo Restaurant in Limerick"
- @section_id, @section_class = "menu_id_#{@menu.id}", "menu_#{@menu.position} menu #{@menu.menu_type}"

- content_for :menu_content do

  %section#side_information
    %h2
      = @section.name
  
    %ul#sections_nav{:data =>  {'update-url' => sort_menu_sections_url}}
      = render :partial => 'section_nav_item', :collection => @all_menu_sections, :as => :section
      - if admin_signed_in?
        %li
          = link_to raw("#{content_tag(:span, 'Add', :class => 'admin-controls-create_under')} New Section"), new_menu_section_path(:menu_id => @menu.id), :class => 'new_section', :remote => true
  
  %section#menu_content
    = @section.show_section_description
    - @columns_number.times do |i|
      = render :partial => 'column', :locals => {:col_num => i, :item_group => @item_groups[i], :section_id => @section.id}
