- cache_or_admin item do
  =  content_tag_for(:li, item) do
    / = show_item_photograph(item)
    
    = item.show_extra_informations
    %h4.dish_name
      = item.dish.name
      = item.show_price
      = item.show_annotation
    
      - if admin_signed_in?
        = link_to "Edit Dish", edit_dish_path(item.dish, section_id: item.section_id, item_id: item.id), class: "admin edit"
        = link_to "Delete Dish", item, :method => :delete, :class => "admin delete"
        %span.item_handle.admin.move
          Move
    
    = item.show_description
    